.contact-container {
    padding: 9rem 0 5rem 0;

}

.contact-heading {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 3rem;
    color:white;
    position: relative;
    bottom: 100px;
    background-color: black;
   
      
}
html,
body {
height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
 } 

iframe{
    width: 100vmax;
    height: 250px;
    position: relative;
    bottom: 100px;
    right: 275px;
}
.contact-form {
    max-width: 50rem;
    margin: 0 auto;   
   
}

.input-contact
{
    position: relative;
   top: -110px;
    left: 150px;

}

.form-inputs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
       
}

input[type="text"],
input[type="email"],
textarea {
    padding: 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
        z-index: 1;
}

textarea {
    resize: vertical;
}

.submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    font-size: 1rem;
    border-radius: 5px;
    z-index: 1;
    position: relative;
    bottom: 120px;
    width: 200px;
        left: 300px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.submit-button:hover {
    background-color: peru;
}
