/* 

/* #btn
{
    z-index: 2;
    cursor: pointer;
    color: red;
} */
/* button
{
    z-index: 2;
        cursor: pointer;
        color: red;
} */

 h3{
    color: blue;

}
h2{
    color: red;
  
}
.address
{
    position: relative;
    top: 100px;
    color: azure;
    left: 500px;
    display: flex;
    flex-direction: column;
     column-gap:10px; 
     gap: 10px; 
    width: 350px;
    align-items: center;
  
}
 .agentbtn{ 
     width: 100px; 
 }   
 /* .timeD
 {
    width: 50px;
 } */
 
/* .container {
    text-align: center;
}


label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    width: 300px;
    margin-bottom: 10px;
}

button.agentbtn {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}

button.agentbtn:hover {
    background-color: #45a049;
}

.form-error {
    color: red;
    margin-top: 10px;
} */
