/* 
body{
  
  font-family: Arial, Helvetica, sans-serif;   
background-image: url('../backgroundimg.jpeg');


}

  
  
 
 
  

  
 




.navbar {
  
  
 
  
  

}



.navbar-logo a {
  
  
  
 
  
    

}

.navbar-links {
  
  
  
}



.navbar-links li a {
  
 

}


 @media (max-width: 600px) {
  .navbar {
    
    align-items: flex-start;
  }

  

  

  
}  */
